body{
    background-color: #88bdbf;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 0px;

}

.main_div{
    background-color: #f3f3f3;
    width: 50%;
    height: 100%;
    justify-content: center; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #ff7a5a;
}

.mail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}

.top_mail{
    background-color: #ff7a5a;
    align-items: center;
    padding: 20px; 
    margin: 10px 20px 0px 20px;
}

.text_div{
    background-color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    margin: 0px 20px;
}

button{
    background-color: #ff7a5a;
    color: white;
    font-size: 12px;
    border: 0px;
    border-radius: 2px;
    padding: 5px;
    margin: 20px;

}

.butoane_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.butoane_div input{
    width: 64px;
    height: auto;
}