body{
    background-color: #f2f2f2;
    justify-content: center;
    margin: 0;
}

.image_div{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.main_div{
    width: auto;
    height: auto;
    background-color: #ffd200;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;
    margin-top: 70px;
    justify-content: center; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    color: white;
}

.second_div{
    width:auto; 
    height: auto;
    background-color: white;
    justify-content: center; 
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    padding-bottom: 50px;
}

.first_p{
    color: grey;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.second_p{
    color: grey;
}

.third_p{
    color: grey;
}

hr{
    border: 2px solid #ffd200;
    width: 100px;
}

.third_div{
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    text-align: center;
    justify-content: center; 
    margin-left: 150px;
    margin-right: 150px;
}

.buttom_div_1{
    display: flex;
    justify-content: space-between;
    width: 35%;
    float: left;
    margin-left: 150px;
}

.buttom_div_2{
    display: flex;
    justify-content: space-between;
    width: 35%;
    float: right;
    margin-right: 150px;

}

.first_button{
    background-color: white;
    border: 2px solid #ffd200;
    font-size: 1em;
    margin: 30px;
    padding: 10px 20px;
    color: black;
}

.second_button{
    background-color: #f2f2f2;
    color: black;
    margin: 0px;
    padding: 10px 20px;
    border: 0px;
}

.buttom_div{
    padding-bottom: 100px;
    display: flex;
}