body{
    background-color: black;
    justify-content: center;
    margin: 0;
    padding-top: 0px;
    color: white;
}

.title_div{
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.middle_div{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.image_div{
    padding: 0px;
    margin: 0px;
}
.text_div{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 200px;
    padding-top: 100px;
    text-align: center;
}

.buttom_div{
    padding-left: 400px;
    padding-top: 50px;
    text-align: left;

}

h1{
    padding-left: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.p1{
    padding-left: 400px;
    padding-right: 400px;
}

hr{
    width: 750px;
    margin-top: 50px ;
    margin-bottom: 50px
}

.footer_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

a{
    color: #2596be;
}