@font-face {
    font-family: myFirstFont;
    src: url('CrimsonText-rEGULAR.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: myFirstFont;
    src: url('CrimsonText-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    
}

@font-face {
    font-family: myFirstFont;
    src: url('CrimsonText-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: bold;
    
}