body {
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    background: #F25C05;
    z-index: 2;
}

main {
    padding-top: 120px;
}

@media (max-width:767px) {
    main {
        padding-top: 72px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 15px;
}

.section1 {
    background-color: white;
    padding-top: 34px;
    padding-bottom: 82px;
}

.section1-text {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.section1 .section1-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}

.section1 .section1-container p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    flex: none;
    flex-grow: 0;
    margin-bottom: 0;
    padding-bottom: 46px;
}

.section1 .section1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 .contact-form{
    margin: 0 290px;
    
}

.form-control {
   
    background: #EEEEEE;
    border: 1px solid #000000;
    border-radius: 5px;
}


.button {
    background: #212529;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 131px;
}

footer{
    margin: 0;
    background: #F25C05;
    padding: 31px 0;
}

footer .row{
    margin: 0;
}

footer .image-container{
    display: flex;
    justify-content: space-around;
    max-width: 243px;
    margin: 0 auto;
    padding-bottom: 20px;
}

footer .second-col{
    padding-right:0 ;
}

footer p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;  
    color: #FFFFFF; 
    mix-blend-mode: normal;
    flex: none;
    flex-grow: 0;
    padding: 0; 
}

/* Desktop */
@media( min-width:1200px) {

}

/* Mobile */
@media (max-width: 767px) {
    header{
        padding: 16px 20px;
        height: 72px ;
    }

    .logo-link img {
        height: 38px;
    }

    .nav-links-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F25C05;
        padding: 30px 0;
        display: none;
    }

    .nav-links{
        display: inline;
    }

    .nav-links a {
        display: block;
    }

    .mobile-menu-close{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mobile-menu-close, .mobile-menu-open {
        
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }

    .revert-on-mobile {
        flex-direction: column-reverse;
    }

    .revert-on-mobile div[class^="col-"] {
        padding: 0 20px;
    }

    .section1-text{
        
    }

    .section1{
        padding-bottom: 30px;
    }

    .section1 .second-row{
        margin-top: 45px;
    }

}

@media (min-width:768px) {
    .mobile-menu-close, .mobile-menu-open{
        display: none;
    }
}