body {
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    background: #F25C05;
    z-index: 2;
}

main {
    padding-top: 120px;
}

@media (max-width:767px) {
    main {
        padding-top: 72px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 15px;
}

.section1 {
    background-color: white;
    padding-top: 34px;
    padding-bottom: 82px;
}

.section1-text {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.section1 .section1-container .row{
    display: flex;
    text-align: center;
    justify-content: center;
}

.section1 .section1-container .section1-text p:first-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #F3D92C;
    flex: none;
    flex-grow: 0;
}

.section1 .section1-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    flex: none;
    flex-grow: 0;
}

.section1 .section1-container .description-p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    flex: none;
    flex-grow: 0;
    margin-bottom: 0;
    padding-bottom: 46px;
}

.section1 .card{
    display: flex;
    background: #FFFFFF;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom:50px ;
}

.section1 div[class^="col-"]{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 0 8px;
}

.section1 .card .card-title p:first-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: #000000;
    flex: none;
    padding-top: 46px;
}

.section1 .card .card-title h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #000000;
}

.section1 .card .title{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.section1 .card .card-title .title .title-p{
    margin: 0;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    padding: 0;
    
}

.section1 .card-title p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    text-align: center;
    color: rgba(33, 37, 41, 0.5);
    padding-left: 30px;
    padding-right: 30px;
}

.section1 .card .card-body{
    list-style-image: url(images/list-style.svg);
    text-align: left;
}

.section1 .card .card-body li{
    padding-left: 10px;
    padding-bottom: 17px;
}

.section1 .section1-container .card .section1-btn {
    background: #212529;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
    height: 48px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

footer{
    margin: 0;
    background: #F25C05;
    padding: 31px 0;
}

footer .row{
    margin: 0;
}

footer .image-container{
    display: flex;
    justify-content: space-around;
    max-width: 243px;
    margin: 0 auto;
    padding-bottom: 20px;
}

footer .second-col{
    padding-right:0 ;
}

footer p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;  
    color: #FFFFFF; 
    mix-blend-mode: normal;
    flex: none;
    flex-grow: 0;
    padding: 0; 
}

/* Desktop */
@media( min-width:1200px) {

    .section1{
        padding-top: 0;
    }

    .section1 .section1-text{
        display: flex;
        text-align: center;
        margin: 75px auto;
    }

    .section1 .section1-text h1{
        font-size: 40px;
    }

    .section1 .card-col{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .section1 .card{
        width: 339px;
        height: 542px;
        margin: 0 auto;
    }

    .section1 .section1-text .description-p{
        padding: 0 ;
        width: 411px;
        height: 60px;

    }

}


/* Mobile */
@media (max-width: 767px) {
    header{
        padding: 16px 20px;
        height: 72px ;
    }

    .logo-link img {
        height: 38px;
    }

    .nav-links-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F25C05;
        padding: 30px 0;
        display: none;
    }

    .nav-links{
        display: inline;
    }

    .nav-links a {
        display: block;
    }

    .mobile-menu-close{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mobile-menu-close, .mobile-menu-open {
        
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }

    .revert-on-mobile {
        flex-direction: column-reverse;
    }

    .revert-on-mobile div[class^="col-"] {
        padding: 0 20px;
    }

    .section1-text{
        
    }

    .section1{
        padding-bottom: 30px;
    }

    .section1 .second-row{
        margin-top: 45px;
    }

}

@media (min-width:768px) {
    .mobile-menu-close, .mobile-menu-open{
        display: none;
    }
}