body {
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    background: #F25C05;
    z-index: 2;
}

main {
    padding-top: 120px;
}

@media (max-width:767px) {
    main {
        padding-top: 72px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 15px;
}

.section1 {
    background-color: #F25C05;
    padding-top: 15px;
    padding-bottom: 82px;
}

.section1-text {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.section1 .section1-container p:first-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section1 .section1-container h1 {
    font-family: 'Crimson', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #FFFFFF;
}

.section1 .section1-container .description-p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.75);
}

.section1 .section1-container a {
    display: inline-block;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
    color: #000;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-size: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 img {
    width: 100%;
}

.section1 .image-container {
    display: flex;
    align-items: center;
}


.section2 {
        background-color: white;
        padding-top: 22px;
        padding-bottom: 60px;
}

.section2 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-text {
    max-width: 411px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.section2 .first-col{
    padding-left: 20px;
    padding-right: 20px;
}

.section2 .section2-text p:first-of-type{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #F3D92C;
    flex: none;
    flex-grow: 0;
}

.section2 .section2-text h1{
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    flex: none;
    flex-grow: 0;
}

.section2 .section2-text p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    flex: none;
    flex-grow: 0;
    max-width: 335px;
}

.section2 .section2-btn{
    display: inline-block;
    background: #212529;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
    height: 48px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section2 .image-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section2 img{
    margin-bottom: 35px;
}

.section3 {
    background-color: white;
    padding: 0 20px 60px 20px;
}

.section3-text {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.section3 .section3-container{
    padding: 0;
}

.section3 .section3-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

.section3 .section3-container p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5); 
    mix-blend-mode: normal;
    flex: none;
    flex-grow: 0;
    margin: 0;
    padding: 20px 0;
}

.section3 .section3-container a {
    display: inline-block;
    background: #212529;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
    height: 48px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 img {
    width: 100%;
    padding-bottom: 30px;
    
}

.section3 .section3-container .image-container {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}


.section4 {
    background-color: white;
    padding-top: 0;
    padding-bottom: 40px;
    
}

.section4-text {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 30px;
}

.section4 .section4-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    flex: none;
    flex-grow: 0;
    margin: 0;
}

.section4 .section4-container p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    mix-blend-mode: normal;
    flex: none;
    flex-grow: 0;
    margin: 0;
    padding: 16px 0;
}

.section4 .section4-container a {
    display: inline-block;
    background: #212529;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
    height: 48px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4 img {
    width: 100%;
}

.section4 .image-container {
    display: flex;
    align-items: center;
    
}

.section5 {
    background-color: white;
    padding-top: 22px;
    padding-bottom: 60px;
}

.section5 .container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.section5-text {
max-width: 411px;
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
text-align: center;
}

.section5 .first-col{
padding-left: 20px;
padding-right: 20px;
}

.section5 .section5-text p:first-of-type{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-align: center;
letter-spacing: 5px;
text-transform: uppercase;
color: #F3D92C;
flex: none;
flex-grow: 0;
}

.section5 .section5-text h1{
font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 125%;
text-align: center;
color: #000000;
flex: none;
flex-grow: 0;
}

.section5 .section5-text p{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 125%;
text-align: center;
color: #000000;
flex: none;
flex-grow: 0;
}

.section5 .row{
 margin-left: 50px;
 margin-right: 46px;
}

.section5 .col{
    padding: 0;
}

.section5 .card{
    width: 100%;
    height: 299px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.section5 img{
    width: 175px;
    height: 175px;
    padding-top: 20px;
}

.section5 .card-body{
    text-align: left;
    padding-left: 0px;
}

.section5 .section5-btn{
display: inline-block;
background: #212529;
border-radius: 5px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 125%;
text-align: center;
color: #FFFFFF;
text-decoration: none;
text-transform: none;
height: 48px;
width: 170px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}



footer{
    margin: 0;
    background: #F25C05;
    padding: 31px 0;
}

footer .row{
    margin: 0;
}

footer .image-container{
    display: flex;
    justify-content: space-around;
    max-width: 243px;
    margin: 0 auto;
    padding-bottom: 20px;
}

footer .second-col{
    padding-right:0 ;
}

footer p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;  
    color: #FFFFFF; 
    mix-blend-mode: normal;
    flex: none;
    flex-grow: 0;
    padding: 0; 
}


/* Desktop */
@media( min-width:1200px) {
    .section2 .image-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 39px;
        padding-bottom: 39px;
    }

    .section2 .section2-text h1{
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 125%;
        text-align: center;
        color: #000000;
        flex: none;
        flex-grow: 0;
    }

    .section3 .s3-text{
        padding-left: 98px;
        
    }

    .section3 .section3-text h1{
        font-size: 40px;
    }

    .section4 .section4-text h1{
        font-size: 40px;
    }

    .section5 .section5-text h1{
        font-size: 40px;
    }

    .section5 .card-container .col{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 28px;
        padding-bottom: 45px;
    }

    .section5 .card-container .card{
        margin: auto 24px;
        display: flex;
        justify-content: space-evenly;
        width: 252px;
        height: 299px;

    }

    .section5 .card-container .card-peg{
        width: 279px;
        height: 299px;
    }
    
    .section5 .card-container .card .card-img{
        padding-top: 20px;
    }
}
/* Mobile */
@media (max-width: 767px) {
    header{
        padding: 16px 20px;
        height: 72px ;
    }

    .logo-link img {
        height: 38px;
    }

    .nav-links-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F25C05;
        padding: 30px 0;
        display: none;
    }

    .nav-links{
        display: inline;
    }

    .nav-links a {
        display: block;
    }

    .mobile-menu-close{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mobile-menu-close, .mobile-menu-open {
        
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }

    .revert-on-mobile {
        flex-direction: column-reverse;
    }

    .revert-on-mobile div[class^="col-"] {
        padding: 0 20px;
    }

    .section1-text{
        margin-top: 30px;
    }

    .section1{
        padding-bottom: 42px;
    }

    .section3{

    }

}

@media (min-width:768px) {
    .mobile-menu-close, .mobile-menu-open{
        display: none;
    }
}