@font-face {
  font-family: Fredoka;
  src: url(./FredokaOne-Regular.ttf);
}

html {
  width: 100%;
  height: 100%;
  background: #ddd5c9;
  font-family: Fredoka;
}

h1{
  text-align: center;
  margin-top: 70px;
  color: #1b351c;
  margin-bottom: 0;
}

.game {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #1b351c;
}

a:hover{
  color: #ddd5c9;
}

.primary-btn {
  background: #1b351c;
  color: #ddd5c9;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-family: Fredoka;
  font-size: 20px;
  width: 120px;
  height: 45px;
}

.primary-btn:hover{
  background: #84953e;
  color: #1b351c;
}

.secondary-btn {
  background: #84953e;
  color: #1b351c;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-family: Fredoka;
  font-size: 20px;
  width: 120px;
  height: 45px;
}

.secondary-btn:hover{
  background: #1b351c;
  color: #ddd5c9;
}



.stats {
  color: #84953e;
  font-size: 20px;
}

.board-container {
  position: relative;
}

.board,
.win {
  border-radius: 5px;
  box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
  background: linear-gradient(135deg, #1b351c 0%, #84953e  50%, #bf9c63 100%);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
}

.board {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  height: 600px;
  width: 600px;
}

.board-container.flipped .board {
  transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
  transform: rotateY(0) rotateZ(0);
}

.card {
  position: relative;
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-image: url(logo-nou.png);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
  background-size: cover;
}

.card-back {
  transform: rotateY(180deg) rotateZ(50deg);
  font-size: 70px;
  user-select: none;
  text-align: center;
  line-height: 100px;
  background: #fdf8e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.flipped .card-front {
  transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
  transform: rotateY(0) rotateZ(0);
}

.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fdf8e6;
  transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21pt;
  color: #1b351c;
}

.highlight {
  color: #84953e;
}
