html {
  width: 100%;
  height: 100%;
  background-image: url(fundal-menu.jpg);
  background-size: cover;
  font-family: Fredoka;
}

body {
  padding-top: 150px;
}

h1 {
  text-align: center;
  color: #1b351c;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 90px;
  text-decoration: none;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ddd5c9;
}

button {
  background: #1b351c;
  color: #ddd5c9;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-family: Fredoka;
  font-size: 20px;
}

button:hover {
  background: #84953e;
  color: #1b351c;
}

.btn1 {
  margin-right: 20px;
}

.padding-button {
  padding: 10px 90px;
}
