body{
    margin:0;
    text-align: center;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #87509C;
    color: #F7F3EA;
}

.padding-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 212px;
    margin-right: 217px;
}

.logo{
    margin-top: 58px;
}

.menu{
    width: 393px;
    margin-top: 63px;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu ul li{
    border-radius: 5px;
    padding: 5px 18px;
}

.menu ul li:hover{
    background-color: #643A79;
}

.content1{
    margin: 140px 266px 26px 266px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 42.1529px;
    line-height: 64px;
    text-align: center;
    }

.content1 p {
    margin: 0;
}

.first_button{
    margin: 26px 573px 146px 574px;
    padding: 23px 83px 21px 82px;
    background-color: #EB7D4B;
    border-radius: 5px;
    font-family: 'Titillium Web';
    font-style: normal;
    color: #FFFFFF;
    border: none;
    border-bottom: 4px solid rgba(0,0,0,0.15);
}



.services{
    display: flex;
    flex-direction: column;
    background-color: #17C2A4;
    color: #FFFFFF;
}

.services .services-title2{
    display: flex;
    flex-direction: column;
}

.services .services-title2 .title2 h1{
    margin: 107px 518px 25px 518px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    width: 404px;

}

.services .services-title2 hr{
    width:87px ;
    height:4px ;
    background: #000000;
    opacity: 0.15;
    border-radius: 4px;
    border: 0px;
}

.services .services-title2 .description{
    margin: 19px 429px 75px 435px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.services-provided2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    margin: 72px 195px 122px 195px;
}

.services .services-provided2 .branding2{
    display: flex;
    flex-direction: column;
    margin-right: 98px;
}

.services .services-provided2 .design2{
    display: flex;
    flex-direction: column;
    margin-right: 98px;
}

.services .services-provided2 .development2{
    display: flex;
    flex-direction: column;
    margin-right: 98px;
}

.services .services-provided2 .rocketscience2{
    display: flex;
    flex-direction: column;
    margin-left: 0;
}



.team{
    display: flex;
    flex-direction: column;
    background-color: #E7F1F8;
    color: #3C4761;
}

.team-title3{
    display: flex;
    flex-direction: column;
}

.team-title3 h1{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    text-align: center;
    margin: 108px 465px 2px 466px;
}
.team-title3 hr{
    width:87px ;
    height:4px ;
    background: #BDD1DF;
    opacity: 0.75;
    border-radius: 4px;
    border: 0px;
}

.team-title3 p{
    margin: 20px 407px 74px 407px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
}

.people3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: baseline;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 127px;
}

.people3 .text{
padding-bottom: 37px;

}

.people3 .anne3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 90px;
    align-items: center;
}


.people3 .kate3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 90px;
    align-items: center;
}

.people3 .olivia3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 90px;
    align-items: center;
}

.people3 .ashley3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.skills{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #3C4761;
}

.skills-title4{
    display: flex;
    flex-direction: column;
}

.skills-title4 h1{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    margin: 105px 581px 2px 583px;
}

.skills-title4 hr{
    width:87px ;
    height:4px ;
    background: #DFE8ED;
    border-radius: 4px;
    border: 0px;
}

.skills-title4 p{
    margin: 19px 444px 80px 450px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-align: center;   
}

.skills-level4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 110px;
}

.portofolio{
    display: flex;
    flex-direction: column;
    background-color:  #FFDD99;
    color: #393939;
}

.portofolio-title5{
    display: flex;
    flex-direction: column;
}

.portofolio-title5 h1{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    margin: 107px 577px 2px 577px;
}

.portofolio-title5 hr{
    width:87px ;
    height:4px ;
    background: #E5C37F;
    border-radius: 4px;
    border: 0px;
}

.portofolio-title5 p{
    margin: 19px 472px 38px 471px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-align: center;   
}

.portofolio-title5 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portofolio-title5 ul li{
    background: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 5px 12px;
    margin: 0 5px;
}

.portofolio-title5 ul li:active{
    background-color: #FFFFFF;
}

.portofolio-projects5{
    text-align: center;
    align-items: baseline;
    
}

.somep5{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.project5{
    margin: 20px;
}

.button5{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}

.button5 button {
    padding: 22px 58px 21px 59px;
    background-color: #17C2A4;
    font-family: 'Titillium Web';
    font-style: normal;
    color: #FFFFFF;
    border:0px;
    border-radius: 4px;
    border-bottom: 4px solid rgba(0,0,0,0.15);
}


.whatpeoplesay{
    background-color: #D74680;
    flex-direction: column;
    color: #FFFFFF;
    padding-bottom: 107px;
}

.whatpeoplesay-title6 h1{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 106px 462px 2px 463px;
}

.whatpeoplesay-title6 hr{
    width:87px ;
    height:4px ;
    background: #000000;
    opacity: 0.15;
    border-radius: 4px;
    border: 0px;
}

.whatpeoplesay-title6 p{
    margin: 19px 648px 84px 650px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;   
}

.whatpeoplesay .comments6{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: left;
}

.whatpeoplesay .comments6 img{
    float: left;
    height: 96px;
}

.whatpeoplesay .comments6 .chanel6{
    max-width: 502px;
    padding-right: 86px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.whatpeoplesay .comments6 .chanel6 .text{
    padding-left: 48px;
}

.whatpeoplesay .comments6 .adriana6{
    max-width: 502px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.whatpeoplesay .comments6 .adriana6 .text{
    padding-left: 48px;
}

.whatpeoplesay .comments6 .anne6{
    max-width: 502px;
    padding-right: 86px;
    display: flex;
    justify-content: space-between;
}

.whatpeoplesay .comments6 .anne6 .text{
    padding-left: 48px;
}

.whatpeoplesay .comments6 .emma6{
    max-width: 502px;
    display: flex;
    justify-content: space-between;
}

.whatpeoplesay .comments6 .emma6 .text{
    padding-left: 48px;
}

.whatpeoplesay .comments6 p{
    font-style: italic;
    
}

.whatpeoplesay .comments6 h4{
    color: #FFDD99;
}

.getintouch{
    display: flex;
    flex-direction: column;
    background-color: #3C5499;
    color: #FFFFFF;
}

.getintouch-title7 h1{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    margin-top: 107px;
    margin-bottom: 2px;
}

.getintouch-title7 hr{
    width:87px ;
    height:4px ;
    background: #000000;
    opacity: 0.15;
    border-radius: 4px;
    border: 0px;
}

.getintouch-title7 p{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.getintouch-contactform7{
    margin: 0 290px;
}

.input{
    padding: 72px 0 27px 0;
    display: flex;
    justify-content: space-between;
}

.input input{
    width: 414px;
    height: 56px;
    background: #273A71;
    border: 0;
    padding: 0;
}

.textarea{
    width: 860px;
    height: 200px;
    background: #273A71;
    border: 0;

}

input::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 14px 0 0 23px;
}

textarea::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 14px 0 0 23px;
}

.button7 {
    padding: 22px 85px 20px 85px;
    margin-top: 59px;
    margin-bottom: 115px;
    background-color:  #30BAE7;
    font-family: 'Titillium Web';
    font-style: normal;
    color: #FFFFFF;
    border:0px;
    border-radius: 4px;
    border-bottom: 4px solid rgba(0,0,0,0.15);
}

.footer{
    background-color: #344B8E;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.footer ul li{
    border-radius: 5px;
    padding: 41px 60px;
    font-family: 'Titillium Web';
    font-style: normal;
    text-align: center;
}
