:root{
    --primary:#2F60A6;
    --font-family-primary: 'Manrope'
}

body{
    color: black
}

.container1{
    background-image: url(images/bg-image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% 65%;
    font-family: var(--font-family-primary);
}

.navbar-collapse{
    flex-grow: 0;

}

.container1 .navbar .container1-nav{
    justify-content: right;
}

.container1 .navbar .nav-item{
    padding: 0px .5rem;
}

.container1 .navbar-toggler{
    margin-left: 2rem;
}

.container1 .nav-btn{
    margin-right: 3rem;
    margin-left: 7rem;
    background-color: var(--primary);
}

.container1 .container .card-body{
    margin-left: 8.5%;
    margin-bottom: 148px;
    padding-top: 135px;
}

.container1 .container .card-body h1{
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
}

.container1 .search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }

    .search input{

     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;
    margin: 0;

    }


    .search input:focus{

     box-shadow: none;
     border: 2px solid blue;


    }

    .search .fa-search{

     position: absolute;
     top: 20px;
     left: 16px;

    }

    .search button{

     position: absolute;
     top: 5px;
     right: 5px;
     height: 50px;
     width: 110px;
     background: blue;

    }


.container2{
    align-items: center;
    text-align: center;
}


.container2 .container2-title{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 5% 0;
}

.container2 .card{
    border: none;
    margin-bottom: 96px;
}
.container2 .card .icon-size{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.container3{
    background: linear-gradient(180deg, #2F60A6 0%, #2C347C 100%);
    color: white;
    align-items: center;
    text-align: center;
    padding: 5% 0;
    margin: 0;
}
.container3 .container3-title{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5%;
    
}

.container3 .row{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    font-feature-settings: "liga" off;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.container4{
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 160px 121px;
}

.container4 .card{
    margin: 0;
    padding-bottom: 120px;
    border: none;
    text-align: left;
}

.container4 .card .card-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #2E2E2E;
    margin: 0;
}

.container4 .card .card-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 80px;
}

.container4 .image41{
    text-align: end;
}

.container4 .card .btn{
    margin: 0;
}

.container5{
    background: linear-gradient(180deg, #2F60A6 0%, rgba(44, 52, 124, 0.0121536) 99.99%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));
}

.container5 .container5-title{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 59px;
}

.container5 .images5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 59px;
}

.container5 .background{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 170px;
    height: 96px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    margin: 24px 0;
}

.container5 .row{
    margin: 0;
}

.container6{
    align-items: center;
    text-align: center;
}

.container6 .card{
    margin: 160px auto;
    border: none;
}

.container6 .card .icon-size{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.container7{
    background: #2F60A6;
    color: #FFFFFF;
    padding: 71px 98px 59px 104px;
}

.container7 .card{
    background: none;
    border: none;
    text-align: center;
}

.container7-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 59px;

}

@media (max-width: 992px) {
    .container1 .navbar .container1-nav{
        justify-content: space-between;
    }

    .container5 .flex-column{
        display: flex;
        align-items: center;
    }

    .container7-footer {
        flex-direction: column-reverse;
    }
}