html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  height: 100%;
  color: #404040;
  font: 400 1em/1.4 "Open Sans", sans-serif;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

*,
:after,
:before {
  box-sizing: border-box;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 1.5dppx),
  (min-resolution: 144dpi) {
  html {
    font-weight: 300;
  }
}

h1 {
  font-weight: 300;
  font-size: 25px;
  -webkit-font-kerning: normal;
  line-height: 1;
  margin: 0.25em 0 0.75em;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (min-width: 640px) {
  h1 {
    font-size: 25px;
    margin: 0.6em 0;
  }
}

h2 {
  font-size: 1.333em;
  margin: 0.2em 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

h2,
h3 {
  font-weight: 600;
}

h3 {
  font-size: 1em;
}

h3,
p,
pre {
  margin: 0 0 1.5em;
}

.Error {
  padding: 1em 1.5em;
  background: #c00;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

/* Header */

header,
footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.header {
  padding: 1em;
  background-color: hsla(31, 15%, 50%, 0.1);
  text-align: center;
}

@media (min-width: 640px) {
  .header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header,
  .header .titles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header .titles {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .header .title {
    font-size: 1.5em;
  }
  .header .subtitle {
    margin: 0 0.6em 0.2em;
    font-size: 0.8em;
    font-weight: 300;
    color: gray;
  }
}

.title {
  margin: 0 0 0.15em;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  word-spacing: 0.08em;
}

.title i {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
}

.title a {
  border: 0;
  color: inherit;
  font-weight: inherit;
}

.title a:active,
.title a:focus,
.title a:hover {
  text-decoration: none;
}

@media (min-width: 640px) {
  #board-title {
    font-size: 50px;
  }
  .title {
    font-size: 25px;
  }
}

.subtitle {
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
}

@media (max-width: 639px) {
  #board-title {
    font-size: 50px;
  }

  .title {
    font-size: 1.2em;
  }

  .subtitle {
    display: none;
  }
}

/* Content */

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 0.2em 1.5em 0;
  width: 100%;
}

main:after {
  content: "\00a0";
  display: block;
  margin-top: 1.5em;
  height: 0;
  visibility: hidden;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-width: 50em;
  margin: 0 auto;
}

.container > * {
  flex: 1 100%;
}

.container h1 {
  flex: 1 100%;
}

.content {
  width: calc(70% - 30px);
  padding: 0.8em 1em 0;
}

.content:after {
  content: "\00a0";
  display: block;
  margin-top: 1em;
  height: 0;
  visibility: hidden;
}

.aside {
  width: calc(30% - 50px);
  padding: 0.8em 1em 0;
  margin-left: 0;
}

.aside:after {
  content: "\00a0";
  display: block;
  margin-top: 1em;
  height: 0;
  visibility: hidden;
}

@media all and (min-width: 640px) {
  .content {
    flex: 3 0px;
    order: 1;
  }

  .aside {
    flex: 1 auto;
    order: 2;
    margin-left: 20px;
  }
}

.space {
  margin-bottom: 1.5em;
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*  */

main {
  background: DarkOrange;
}

#board-title {
  border: 4px solid black;
  padding: 8px;
  background: white;
  border-radius: 10px;
}

.container h1 {
  cursor: pointer;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 0.5em;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: "Permanent Marker", cursive;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tile {
  height: 90px;
  width: 90px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: content 1s, background 1s;
}

@media (hover: hover) {
  .active:hover {
    background: black;
  }
  .x .active:hover:after {
    content: "X";
    color: white;
  }
  .o .active:hover:after {
    content: "O";
    color: white;
  }
}

.tile-off {
  background: black;
}
.c1 {
  border-left: 4px solid black;
  border-right: 4px solid black;
}
.c3 {
  border-left: 4px solid black;
  border-right: 4px solid black;
}
.r1 {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.r3 {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.r1.c1 {
  border-top-left-radius: 10px;
}
.r1.c3 {
  border-top-right-radius: 10px;
}
.r3.c1 {
  border-bottom-left-radius: 10px;
}
.r3.c3 {
  border-bottom-right-radius: 10px;
}

.score-board-header,
.score-board,
.button-frame button {
  border: 4px solid black;
  border-radius: 10px;
  padding: 4px;
  background: white;
  margin-bottom: 10px;
  font-family: "Libre Franklin", sans-serif;
}
.status-text {
  text-align: center;
}
.score-board-title {
  text-align: center;
}
.score {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.score span {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}
.score-player-name {
  margin: 1em 0 0.3em;
  font-family: "Permanent Marker", cursive;
}
.button-frame button {
  width: 100%;
  background: white;
  color: #404040;
  font-weight: bold;
  font-size: 20pt;
  padding: 10px;
}


.button-frame button.button-on {
  transition: 1s;
  visibility: visible;
}
.hidden {
  display: none;
}
